*{
    /* padding: 0;
    margin: 0; */
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
}

body{
    background-color: rgb(63, 91, 91);
}

.container{
    background-color: rgb(47, 34, 34);
    width: 700px;
    height: 250px;
    text-align: center;
    margin: auto;
    color: rgb(255, 255, 255);
    border: 5px solid white;
    border-radius: 30px;
}

#input{
    width: 100px;
    margin: 25px auto;
    border-radius: 30px;
    text-decoration: solid;
    font-weight: 100px;
}
#btn
{
    margin: 25px auto auto 7px;
}